/target
**/*.rs.bk
**/*.xe.rs
/final_hello
/hello_binary
/hello
/hello_binary.rs
/test_input*.xe
/test_run*.xe
/xe_test_*
/xe_run_*
/bin/
/examples/fib
/examples/name
/examples/xe
/examples/*.exe
.qoder/
